<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appSettings>
		<add key="nmapPath" value="nmap" />
		<add key="sqlmapPath" value="/home/bperry/tools/sqlmap/sqlmap.py" />
		<add key="dsxsPath" value="/home/bperry/tools/dsxs/dsxs.py" />
		<add key="wapitiPath" value="/home/bperry/tools/wapiti/branches/wapiti-ddsec/src/wapiti.py" />
		<add key="whoisPath" value="whois" />
		<add key="niktoPath" value="/home/bperry/tools/nikto/program/nikto.pl" />
		<add key="traceroutePath" value="traceroute" />
		<add key="sslscanPath" value="sslscan" />
		<add key="smbclientPath" value="smbclient" />
		<add key="onesixtyonePath" value="onesixtyone" />
		<add key="openvasHost" value="192.168.1.21" />
        <add key="openvasUser" value="admin" />
        <add key="openvasPass" value="admin" />
        <add key="nessusHost" value="192.168.1.29" />
        <add key="nessusUser" value="nessus" />
        <add key="nessusPass" value="nessus" />
        <add key="nexposeHost" value="192.168.1.37" />
        <add key="nexposeUser" value="nexpose" />
        <add key="nexposePass" value="nexpose" />
        <add key="metasploitHost" value="192.168.1.30" />
        <add key="metasploitUser" value="root" />
        <add key="metasploitPass" value="YVD,-?Z5" />
        <add key="PostgreSQL" value="192.168.1.5" />
        <add key="PostgreSQLPort" value="5432" />
        <add key="PostgreSQLUser" value="postgres" />
        <add key="PostgreSQLPass" value="password" />
        <add key="API" value="http://127.0.0.1:8084/" />
		<add key="tmpSshfsDir" value="/remote_tmp_sshfs/" />
    <add key="ClientID" value="a0d0a402-5835-4245-9b4b-425b8da771bb" />
    <add key="UserID" value="c82bf56d-aabd-41cb-b689-3c70bec38915" />
	</appSettings>	
</configuration>
