<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appSettings>
		<add key="nmapPath" value="nmap" />
		<add key="sqlmapPath" value="/home/bperry/tools/sqlmap/sqlmap.py" />
		<add key="dsxsPath" value="/home/bperry/tools/dsxs/dsxs.py" />
		<add key="wapitiPath" value="wapiti" />
		<add key="whoisPath" value="whois" />
		<add key="niktoPath" value="/home/bperry/tools/nikto/nikto.pl" />
		<add key="traceroutePath" value="traceroute" />
		<add key="sslscanPath" value="sslscan" />
		<add key="smbclientPath" value="smbclient" />
		<add key="onesixtyonePath" value="onesixtyone" />
		<add key="openvasHost" value="192.168.1.70" />
        <add key="openvasUser" value="admin" />
        <add key="openvasPass" value="admin" />
        <add key="nessusHost" value="192.168.1.5" />
        <add key="nessusUser" value="nessus" />
        <add key="nessusPass" value="nessus" />
        <add key="nexposeHost" value="192.168.1.19" />
        <add key="nexposeUser" value="nexpose" />
        <add key="nexposePass" value="nexpose" />
        <add key="metasploitHost" value="192.168.1.69" />
        <add key="metasploitUser" value="root" />
        <add key="metasploitPass" value="tma#VK%1" />
        <add key="PostgreSQL" value="192.168.1.65" />
        <add key="PostgreSQLPort" value="5432" />
        <add key="PostgreSQLUser" value="postgres" />
        <add key="PostgreSQLPass" value="password" />
        <add key="API" value="http://127.0.0.1:8084/" />
		<add key="tmpSshfsDir" value="/remote_tmp_sshfs/" />
    <add key="ClientID" value="789dd65a-16f6-4d78-9cde-c7743641492e" />
    <add key="UserID" value="bfaf16ee-f331-431c-b2b2-41d593721215" />
	</appSettings>	
</configuration>